.Titlebar {
    display: flex;
    background-color: #3b3e43;
    flex-direction: row-reverse;
    justify-content: flex-start;
    align-self: stretch;
    -webkit-app-region: drag;
    z-index: 1000;
    position: fixed;
    width: 100vw;
    height: 1.5rem;
}

.title-bar-btn {
    display: flex;
    height: 100%;
    flex-direction: row-reverse;
    align-items: center;
}

.option, .close-btn{
    display: flex;
    align-items: center;
    color: #DDD;
    padding: .25rem 0.625rem;
    font-size: .85rem;
    cursor: pointer;
    -webkit-app-region: no-drag;
}

.option:hover {
    background: #5b6068;
}

.option:active {
    color:#EEE;
    background: #5d6270;
}

.close-btn:hover{
    background: rgb(255, 99, 71);
}

.close-btn:active{
    color: #ddd;
    background: rgb(255,110,80);
}
