.auto-link{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 10001;
}

.auto-container{
    padding: 1rem;
    position: relative;
    max-height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    list-style: none;
}

.auto-grid{
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: repeat(3,21.2rem);
    grid-template-areas:
    "item-0 item-1 item-2"
    "item-3 item-4 item-5"
    "item-6 item-7 item-8";
}

.item-0 { grid-area: item-0; }
.item-1 { grid-area: item-1; }
.item-2 { grid-area: item-2; }
.item-3 { grid-area: item-3; }
.item-4 { grid-area: item-4; }
.item-5 { grid-area: item-5; }
.item-6 { grid-area: item-6; }
.item-7 { grid-area: item-7; }
.item-8 { grid-area: item-8; }

.auto-grid-item{
    display: flex;
    font-size: 2rem;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    z-index: 0;
    border-radius: 10px;
    overflow: hidden;
    backdrop-filter: blur(3px);
}

.background-text-container{
    position: relative;
    white-space: nowrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: rotateZ(40deg);
}

.names{
    font-weight: 600;
    font-size: 3.5rem;
    line-height: 2;
}

.sec{
    transform: translateX(5rem);
}

.company-logo-full{
    position: absolute;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: #ffffff10;
    z-index: 100;
    transform: rotateZ(-40deg);
}

.company-logo-full img{
    max-width: 70%;
    max-height: 70%;
}

.video-overlay-container{
    grid-area: overlay;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px !important;
    z-index: 9999;
}

.video-overlay{
    height: 100%;
    width: 100%;
    background: #051622aa;
    backdrop-filter: blur(3px);
}

.video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    
}

.name-overlay-container{
    opacity: 0.8;
    position: absolute;
    z-index: 10000;
    bottom: 1rem;
    right: 1rem;
    background-color: var(--first-layer);
    color: var(--sec-acc-color);
    border: solid 2px var(--prim-acc-color);
    padding: 1rem 2rem 1rem 2rem;
    line-height: 1.2;
    border-radius: 0.4rem;
    font-size: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    max-width: 20rem;
}

.name-overlay-container span{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.name-overlay-seperator{
    margin: 0.4rem 0 0.4rem 0;
    content: "";
    height: 2px;
    width: 100%;
    background-color: var(--sec-acc-color);
}