.auto-link{
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 100;
}

.auto-container{
    margin: 1rem;
    position: relative;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    list-style: none;
}

.auto-grid{
    display: grid;
    grid-gap: 1rem 2rem;
    grid-template-columns: repeat(auto-fit, minmax(29rem, 0.9fr));
    grid-auto-rows: 21.2rem;
    height: 100%;
      
}

.company-logo-full{
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--second-layer-transparent);
    backdrop-filter: blur(3px);
}

.company-logo-full img{
    max-width: 70%;
    max-height: 70%;
}

.video-overlay-container{
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-overlay{
    position: relative;
    height: 0;
    max-width: 100%;
}

.video-overlay video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}