.page-container{
    margin: 2vh 0.5rem 2vh 0;
    height: 96vh;
    width: 100%;

}

.scroll-container{
    position: relative;
    border-radius: 20px !important;
    background: #232529;
    width: 100%;
    height: 100%;
}

.jobs-container {
    position: relative;
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 0.7rem;
    padding: 1rem;
    padding-right: 1.5rem;
}
  
.jobs-item {   
    width: 100%;
    background-color:#3b3e43;
    padding: 20px;
    cursor: pointer;
}

.jobs-item:last-child {
    margin-bottom: 0px;
}
.row1 {
    width: 50%;
    height: 0.5rem;
    background: linear-gradient(120deg, #e20080 50%,#9a249c 100%);
    border-radius: 10px;
    margin-top: 2rem;
}

.row1:last-child{
    margin-bottom: 4rem;
}

.row2 {
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(120deg, #e20080 50%,#9a249c 100%);
    border-radius: 10px;
    margin-top: 2rem;
}

.avatar {
    width: 120px;
    height: 40px;
    background: linear-gradient(120deg, #00E2BC 0%,#245c9c 100%);
    border-radius: 20px;
}

.jobs-close-ico-wrap{
    position: relative;
    display: flex;
    z-index: 1;
    background: #2a2d32;
    justify-content: center;
    align-items: center;
    border-radius: 3rem;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.simplebar-scrollbar::before{
    background: #e20080 !important;
    margin-top: 1rem;
    margin-right: 8px !important;
    margin-bottom: 1rem;
    opacity: 1 !important;
}