.page-container{
    width: 100%;
    display: flex;
}

.job-seperator{
    content:"";
    width: 1px;
    height: 90vh;
    background-color: var(--sec-acc-color);
    align-self: center;
}

.scroll-container{
    flex: 20 1;
    height: 100%;
    overflow: auto;
    float: right;
    /* mask-image: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 3%, rgba(0,0,0,1) 97%, rgba(0,0,0,0) 100%); */
}

.jobs-filter{
    display: flex;
    flex: 7;
    padding: 1rem 2rem 1rem 2rem;
    align-items: center;
    flex-direction: column;
    max-height: 100vh;
}

.jobs-title{
    color: var(--sec-acc-color);
    line-height: 1;
    font-weight: 100;
    font-size: 8rem;
    letter-spacing: .02em;
    margin-bottom: 5rem;
}

.view-type{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5rem;
    margin-bottom: 5rem;
}

.viewbutton{
    font-size: 2rem;
    line-height: 0;
    padding: 1rem;
    cursor: pointer;
    border: solid 2px var(--prim-acc-color);
    border-radius: 1rem;
    color: var(--sec-acc-color);
}

.dark{
    opacity: 0.3;
}

.filter-button{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.4rem;
    cursor: pointer;
}

.filter-button span{
    cursor: pointer;
    padding: 1rem;
}

.filter-container{
    background-color: var(--second-layer-transparent);
    width: 90%;
    max-height: 100%;
    border-radius: 10px;
    height: 100%;
    margin-bottom: 1rem;
    overflow: hidden;
    backdrop-filter: blur( 3px );
}

.filter-list{
    padding: 1rem;
    height: 100%;
}

.filter-item{
    width: 100%;
    height: 3.5rem;
    border-bottom: 1px solid var(--prim-acc-color);
    color: var(--sec-acc-color);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    align-items: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
}

.jobs-container{
    position: relative;
    width: 100%;
    list-style: none;
    padding: 1rem 2rem 1rem 2rem;
}

.job-list{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
}

.job-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto;
    gap: 0.8rem 0.8rem;
    align-items: start;
}
  
.jobs-item {
    width: 100%;
    background-color: var(--second-layer-transparent);
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    font-weight: 300;
    filter: brightness(1);
    backdrop-filter: blur( 3px );
}

.jobs-item:last-child {
    margin-bottom: 0px;
}

.avatar {
    display: flex;
    height: 100%;
    width: 100%;
    padding: 1rem;
}

.avatar img{
    height: 60px;
}

.nameCont{
    padding: 0 1rem 0 1rem;
}

.jobName{
    font-size: 2rem;
    line-height: 1.2;
    font-weight: 400;
}

.job-desc{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 85%;
}

.row1 {
    width: 50%;
    height: 0.5rem;
    background: linear-gradient(120deg, var(--prim-acc-color) 0%,var(--sec-acc-color) 100%);
    border-radius: 10px;
    margin-top: 2rem;
}

.row1:last-child{
    margin-bottom: 4rem;
}

.row2 {
    width: 100%;
    height: 0.5rem;
    background: linear-gradient(120deg, var(--prim-acc-color) 0%,var(--sec-acc-color) 100%);
    border-radius: 10px;
    margin-top: 2rem;
}

.jobs-close-ico-wrap{
    position: absolute;
    top: 2rem;
    right: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.job-overlay-container{
    z-index: 1000;
    position: fixed;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 20 1;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
}

.job-overlay{
    display: block;
    width: 85%;
    height: 85%;
    background: var(--third-layer);
    border-radius: 10px;
    padding: 1rem;
    text-align: center;
}

.job-overlay span{
    font-size: 2.5rem;
    font-weight: 300;
    letter-spacing: 3px;
}

.simplebar-scrollbar::before{
    margin: 1rem 8px 1rem 0 !important;
    opacity: 1 !important;
}