.scroll-container{
    margin: 2vh 0.5rem 2vh 0;  
    position: relative;
    height: 96vh;
    width: 100%;
    border-radius: 10px;
}

.jobs-container {
    position: relative;
    display: grid;
    overflow: hidden;
    list-style: none;
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
    grid-auto-rows: 7rem;
    gap: 1rem;
    padding: 1rem;
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
}
  
.jobs-item {   
    height: 100%;
    width: 100%;
    background: rgba(255,255,255, 0.2);
    border-radius: 10px;
}

.simplebar-scrollbar::before{
    background: #e20080 !important;
    margin-right: 2px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    width: 6px;
    opacity: 1 !important;
}