.about-scroll{
    height: 100%;
    width: 100%;
}

.about-container {
    color: var(--sec-acc-color);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
}

.about-header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
}

.about-header span {
    font-size: 8rem;
    font-weight: 100;
    letter-spacing: .02em;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.about-seperator{
    content:"";
    width: 100%;
    height: 2px;
    background: var(--sec-acc-color);
}